body {
  margin: 0;
}
.show-card .starr {
  width: 50px;
}
#container-favorites {
  padding: 50px 0;
}

#shows-area-favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#link-favorites {
  display: block;
  width: 200px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-family: "bold";
  background-color: #2d55ff;
  padding: 10px 0;
  color: white;
  border-radius: 10px;
  margin-top: 15px;
}
/*começa aq a arte*/
