body {
  margin: 0;
}
.show-card .starr {
  width: 50px;
}
#container-favorites {
  padding: 50px 0;
}
#container-favorites h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 80px;
}
#shows-area-favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#link-favorites {
  display: block;
  width: 200px;
  margin: 0 0 20px 20px;

  text-align: center;
  text-decoration: none;
  font-family: "bold";
  background-color: #2d55ff;
  padding: 12px 0;
  color: white;
  border-radius: 10px;
  margin-top: 15px;
}
@media screen and (max-width: 600px) {
  #container-favorites {
    padding: 20px 0;
  }

  .show-card {
    width: 100%;
  }
  #container-favorites h1 {
    font-size: 30px;
  }
}
